<!-- AM_main.html -->
{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AroundMe : Be a good friend</title>
        
        <link rel="stylesheet" href="{% static 'css/AM_main.css' %}">
        <!-- Adding Bootstrap CSS code script -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    
    <body>
        
        
        <div class = "container-fluid">

            <!-- Header part1. Logo -->
                <div class = "row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <h1 class = "main-logo">AroundMe</h1>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <!-- Header part2. Tab menus -->
                <div class = "row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <ul class="nav nav-tabs">
                            <li class = "nav-item active" role="presentation"><a href="#">Events</a></li>
                            <li class = "nav-item" role="presentation"><a href="#">Friends</a></li>
                            <!--<li class = "nav-item" role="presentation"><a href="#">Events</a></li>-->
                            <li class = "nav-item" role="presentation"><a href="#">My profile</a></li>

                            <!--{%if user.is_authenticated &}-->
                            <span id="hello-user-message">Hello, {{ user.username }} </span>

                            <a class = "btn btn-default" href="#" role="button" style="float:right" id="logout_button">Logout</a>

                            <!--<button type="button" id="logout_button" class="btn btn-default navbar-btn" style="float:right">Logout</button>-->
                        </ul>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <!-- Main body parts embraced with Bootstrap container -->

                <div class = "row" id="lightgrey-bg">
                    <div class="col-md-1"></div>
                    <div class="col-md-10" >
                    {% block AM_schedule %} {% endblock %}
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <!-- Footer -->

                <div class = "row">
                    <div class="am-footer">
                        <p></p>2016 SanchoSoft.
                    </div>
                </div>

        </div>
        
        <!-- Adding jQuery script -->
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script> 
        <!-- Adding bootstrap script -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="{% static 'js/AM_main.js' %}"></script>
        <script src="{% static 'js/AM_main_events.js' %}"></script>
    
    </body>
    
</html>