{% extends "AM_main.html" %}


{% block AM_schedule %}
    <!-- Left blank 25% of the screen -->
    <div class="col-md-3" id="left-layout">

    </div>

    <!-- main body of Event tab -->
    <div class="col-md-6" id="mid-layout">
        <div class="row" id="my-schedules-align">

            <!-- search window -->
            <div class="col-md-9">
                <div class="input-group" id="search-window">
                    <input type="text" class="form-control" placeholder="Search keyword">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go</button>
                    </span>
                </div>
            </div>

            <div class="col-md-1"></div>

            <!-- add event button -->
            <div class="col-md-2">
                <div id="button-add-schedule">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-schedule-modal">Add event</button>
                        <div class="modal fade" id="add-schedule-modal" tabindex="-1" role="dialog" aria-labelledby="add-modal-label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="add-modal-label">Add New Schedule</h4>
                                    </div>


                                    <form method="POST" action="{% url 'event_save_schedule' %}" id="add-schedule-form">
                                        <div class="modal-body" style="text-align:left;">

                                            {% csrf_token %}

                                            <div class="form-group">
                                                <label for="event-description" class="form-control-label">What to do : </label>
                                                <input type="text" class="form-control" id="event-description" name="event-description">
                                            </div>
                                            <div class="form-group">
                                                <label for="event-time-start" class="form-control-label">From when : </label>
                                                <input type="date" class="form-control" id="event-time-start" name="event-time-start">
                                            </div>
                                            <div class="form-group">
                                                <label for="event-time-end" class="form-control-label">Till when : </label>
                                                <input type="date" class="form-control" id="event-time-end" name="event-time-end">
                                            </div>
                                            <div class="form-group>">
                                                <label for="event-place" class="form-control-label">Where : </label>
                                                <input type="text" class="form-control" id="event-place" name="event-place">
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" id="add-schedule-save" name="add-schedule-save">Save</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="default-padding">
                {% for event in event_list_set %}
                    <div class="event-list" id="{{ event.id }}" data-value="{{ event.type }}">
                        <p><h4>{{ event.description }} </h4></p>
                        <span class="event-list-item">{{ event.d_start }} ~ {{ event.d_end }}    @ {{ event.place }}</span>
                        <span class="event-list-item-delete">Delete</span>
                    </div>
                {% empty %}
                    <h4 id="h4_id_no_schedule">No events found</h4>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Right blank 25% of the screen -->
    <div class="col-md-3" id="right-layout">

    </div>

{% endblock AM_schedule %}